@page
@model LoginModel
@{
    ViewData["Title"] = "Login to db manager";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use your your account on SAFE Network to access your databases.</p>

<div class="item">
    <div role="option">
        <p>
            
            <a class="btn btn-success" href="safe://@Model.AuthUri">
                Login with SAFE Authenticator
            </a>
        </p>
    </div>
</div>
