@page
@model LogoutModel
@{
}

<h2 class="text-success">Logged out successfully.</h2>

<div class="item">
    <div role="option">
        <p>

            <a class="btn btn-default" asp-page="/Index">
                Return
            </a>
        </p>
    </div>
</div>